# Dependencies
node_modules/
vendor/

# Build output
dist/
build/
bin/
*.exe

# Env & secrets
.env
.env.*
!.env.example
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Go
*.test
*.out

# Pulumi
Pulumi.*.yaml
!Pulumi.yaml
.pulumi/
